<link rel="stylesheet" href="css/estilos.css" />

<h6 class="alert alert-primary">
	- Num de procesadores
	{{numCPUs}}
	<br />
	<br />
	-Argumentos de entrada:
	<br />
	{{argum}}
	<br />
	<br />
	- Nombre de la plataforma (sistema operativo):
	{{plat}}
	<br />
	<br />
	- Versión de node.js
	{{ver}}
	<br />
	<br />
	- Uso de memoria
	{{mem}}
	<br />
	<br />
	- Path de ejecución
	{{execPath}}
	<br />
	<br />
	- Process id
	{{pid}}
	<br />
	<br />
	- Carpeta corriente
	{{carp}}
</h6>

<script>
	{{! setTimeout(() => { location.href = '/' },2000) }}
</script>